@page "/users/logout"
@using BookStoreAppBlazer.Server.UI.Services.Authentication
@inject IAuthenticationService authService
@inject NavigationManager _navManager
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await authService.Logout();
        _navManager.NavigateTo("/");
    }

}
